[16:30, 2/10/2025] nk: :root {
  --primary: #fa6600;
  --secondary: #95989a;
  --text-color: #fff;
  --text-secondary: #000;
  --text-tertiary: #5d5d5d;
}

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Event form */
#event-subscription {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/moto5.jpg");
  background-position: center;
  background-size: cover;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-color);
  text-align: center;
}

#disclaimer h2,
#disclaimer .event-date {
  color: var(--primary);
}

#disclaimer h2 {
  font-size: 2.5em;
  margin-bottom: 0.5em;
}

#disclaimer .about-event {
  font-size: 1.5em;
  text-transform: uppercase;
  margin-bottom: 1em;
}

#disclaimer p {
  font-size: 1.2em;
  margin-bottom: 0.3em;
}

#disclaimer .event-date {
  font-weight: bold;
}

#subscription-form {
  background-color: var(--secondary);
  padding: 2em;
  width: 100%;
  max-width: 400px;
  margin-top: 2em;
}

#subscription-form p {
  font-size: 1.2em;
  color: var(--text-secondary);
  margin-bottom: 1em;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.form-group label {
  color: var(--text-tertiary);
  margin-bottom: 0.3em;
  font-weight: bold;
}

.form-group input,
.form-group select {
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.btn {
  background-color: var(--primary);
  color: var(--text-color);
  text-transform: uppercase;
  width: 100%;
  padding: 12px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  font-size: 1em;
}

.btn:hover {
  opacity: 1;
}



/* 1ª Digitação (Aqui) */




/* Media Queries */
@media (min-width: 768px) {
  #event-subscription {
    flex-direction: row;
    justify-content: space-around;
    text-align: left;
  }

  #disclaimer h2 {
    font-size: 3em;
  }

  #disclaimer .about-event {
    font-size: 2em;
  }

  
}
/* ______________________________*/
/* Main 1 */

.motos {
  background: var(--text-color);
  margin: 30px;

}


.titulo {
  background: var(--secondary);
  text-align: center;
  padding: 25px;
  font-size: 25px;
  margin-bottom: 30px;

}

.motocicleta img {
  width: 200px;
  height: 200px;
  border-radius:9999px;
  margin: 20px;

}
.conteinersao {
  display: flex;
  justify-content: space-around;
  
}

.motocicleta {
  flex-direction: column;

}

/* ___________________________ *
/* Main 2 */

.container {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/hd1.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-color);
  padding: 20px;
}

.local {
  margin-bottom: 30px;
  text-align: center;

}
.local p {
  margin: 10px;
}

.container h1 {
  color: var(--primary);
  text-align: center;
margin-bottom: 30px;
}

.container p {
  margin-bottom: 30px;
}

/* _________________________________ */
/* Main 3 */
.bloco {
  margin: 20px;

}
.bloco img {
 width: 700px;
}
.imagem {
  display: flex;
}

.imagem img {
  margin: 20px;
}

.textinho span {
  margin-top: 250px;
  font-size: 35px;
}

.b2 {
  margin: 30px;
}
.b2 img {
  margin-left: 400px;

}

.b2 .texto {
  margin-top: 100px;
  font-size: 26px;
}

.texto li {
  margin: 15px;
}


/* _________________________________ */
/* footer */

.end {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/moto6.jpg");
  background-position: center;
  background-size: cover;
  padding: 30px;
  
}
.end h2 {
  color: var(--text-color);
  margin-bottom: 30px
}

.end a {
  text-decorat…
[16:31, 2/10/2025] nk: <!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ExpoMoto - Edição Harley Davidson</title>
  <!-- link CSS -->
  <link rel="stylesheet" href="css/styles.css" />
  <!-- Favicon -->
  <link rel="shortcut icon" href="img/motocicleta.png" type="image/x-icon">  
</head>
<body>
  <!-- HEADER -->
  <header id="event-subscription">
    <div id="disclaimer">
      <h2>ExpoMoto</h2>
      <p class="about-event">Um evento para acelerar seu coração</p>
      <p>Data do evento:</p>
      <p class="event-date">Domingo, 25 de Maio, a partir das 10h</p>
    </div>
    <div id="subscription-form">
      <p>Preencha…